@import "@folio/stripes-components/lib/variables";

.title {
  font-size: 1.05rem;
  font-weight: var(--text-weight-bold);
  margin-bottom: var(--control-label-margin-bottom);
}

.content {
  min-height: var(--control-min-size-desktop);
  word-break: break-word;
}
